.box{
  width: 100px;;
  height: 100px;
  font-size: 37px;
  border: 1px solid;
  background: tomato;
  text-align: center;

  float: right; /*posiciona um elmento a esq/dir do container
  e pode ser usado para wrap um elemento*/
}
p{
 clear: right ; /*stop floating (wrapping)*/
 }

#box4{
  width: 100px;;
  height: 100px;
  border: 1px solid;
  background: tomato;
  position: relative;  /*relative=elemento de cima como referencia*/ 
  /*static =no change*/ 
  /*fixed will fix on the place and wont change scrolling*/ 
  top: -20px; left: 50px;
}
#box5{
  width: 200px;;
  height: 200px;
  border: 1px solid;
  background: yellow;
  position: absolute; top: 100px; /*searches for a parent that is positoned non statically, if there arent any non statical or parent
   it will use the viewport(screen) as reference (fica no msm lugar se nao usar) modificadores com top/left/right mas usa
   o topo da tela como referencia de distancia ao inves de usar o elemento de cima) ex:top:0px seria 0px do top da pagina
   nao do elemento de cima. se eu nao uso ex top ele permanece no msm lugar*/
}
#box6{  /*child of box 5= uses box5 as reference*/
  width: 100px;;
  height: 100px;
  border: 1px solid;
  background: blue;
  position: absolute;  top: 50px; left: 50px;
}
#box7{  /*child of box 5= uses box5 as reference*/
  width: 100px;;
  height: 100px;
  border: 1px solid;
  background: green;
  position: sticky;  top: 50px; left: 50px;
 /*sticky =will fix on the place AFTER you scroll pass it*/ 
}
a:link {color:rgb(251, 251, 39);}
a:visited {color:rgb(25, 228, 14);} /*muda a cor depois de visitar o linkuma vez*/
a:hover{color: tomato;}
a:active{color:rgb(255, 179, 0)}/*muda quando seguro o botao esq*/

button:hover{background-color: rgb(178, 32, 32); color: yellow;}
button:active{background: blue;color: white;}

li:nth-child(2n+1){background-color: rgb(225, 255, 0);}/*seleciona qual da lista(arg)customizar*/
/*nth= n-ésimo*/ /*odd-even-1-4n*/ /*4n+2= começa no '1' a somar 2*/ 
